

h2 {
  border-bottom: 1px solid blue;
  padding: 1em;
}

a:hover {
  font-weight: bold;
}

nav a {
  background-color: blue;
  color: white;
}

nav h1 a {
  background-color: white;
  border: 1px solid white;
}

h3:hover {
  font-size: 150%;
}

article {
  border: 10px double purple;
  padding: 1em;
  margin: 1em;
}

footer {
  clear: both;
  border-top: 1px solid black;
  margin-top: 2em;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  padding: .5em;
}

#projects {
  height:25em;
}

.projects {
  float: left;
  margin-left: 3em;
  margin-right: 3em;
  border: 3px dotted red;
  padding: .25em;
}

.projects img:hover {
  border: 1px solid black;
  border-radius: 20px;
  height: 15em;
  padding: .25em;
}
