html {
  font-size: 16px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

header {
  padding: .5rem;
}

h2 {
  font-family: 'pacifico', sans-serif;
}

.dark {
  background-color: #5E4366;
  color: white;
}

.dark a {
  color: crimson;
  margin: .75rem;
}

.title {
  text-decoration: none;
}

nav {
  background-color: #EAA5FC;
  padding: 1rem;
  
}

nav a {
  color: rebeccapurple;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  background-color: darkgray;
}

main {
  padding: .5rem;
  
}

article {
  float: left;
  width: 60%;
}

aside{
  float: right;
  width: 30%;
}

main aside {
  margin: .5rem;
  transition: all 1.5s ease-out 0s;
  animation: 2s ease .5s infinite pulse; 
}

main aside:hover {
  background-color: red;
}
#circles li {
  background: rgb(255, 255, 0);
  border-radius: 30%;
  list-style: none;
  margin: .2rem;

  float: left;

  text-align: center;
  line-height: 7vmax;
        
  height: 7vmax;
  width: 7vmax;
}

#circles :nth-child(2n) {
  background: green;
}

@keyframes pulse {
  50% { transform: rotate(360deg); }
}

footer {
  padding: 1rem .5rem .5rem .5rem;
  margin-bottom: 1rem;
}

footer p {
  float: left;
}

.social-media {
  float: right;
}

.social-media a {
  margin: 0;
}

footer i {
  padding: 0 .25rem 0 .25rem;
  margin: 0;
  color: white;
}